<section>
  <h1 class="home__category">Grilla</h1>
  <h2 class="home__lead">Componentes y directivas para
    <a href="https://github.com/kristoferjoseph/flexboxgrid">flexbox grid</a>)</h2>

  <h2>Grilla con breakpoints</h2>
  <br>
  <fg-grid>
    <fg-row>
      <fg-col cols="12, 4-8, 6, 4">
        <div class="card">
          <h2>Box</h2>
          <h2>Box</h2>
          <h2>Box</h2>
        </div>
      </fg-col>
      <fg-col cols="12, 4, 6, 4">
        <div class="card">
          <h2>Box</h2>
        </div>
      </fg-col>
      <fg-col cols="12, 8, 6, 4">
        <div class="card">
          <h2>Box</h2>
        </div>
      </fg-col>
      <fg-col cols="12, 4, 6, 4">
        <div class="card">
          <h2>Box</h2>
        </div>
      </fg-col>
    </fg-row>
  </fg-grid>

  <h2>Grilla fluida reverse</h2>
  <br>
  <fg-grid fgFluid>
    <fg-row fgJustify="*, center, end, start" fgAlign="top, middle, *, bottom" fgReverse>
      <fg-col cols="12, 8, 6, 4">
        <div class="card">
          <h2>Box 1</h2>
          <h2>Box 1</h2>
          <h2>Box 1</h2>
        </div>
      </fg-col>
      <fg-col cols="auto,*,*,4">
        <div class="card">
          <h2>Box 2</h2>
          <h2>Box 2</h2>
        </div>
      </fg-col>
    </fg-row>
  </fg-grid>
</section>